* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.container-fluid {
    padding: 0;
    margin: 0;
    /*overflow-y: hidden;*/
}
.row { margin:0; }
.back-image {
    background: url(../images/TRACE-EXPRESS-background-top.jpg) 
    no-repeat;
    background-size: contain;
}
.bottom-image {
    background: url(../images/TRACE-EXPRESS-background-azul-claro-central.jpg) no-repeat;
    background-position-x: right;    
    background-position-y: bottom;
}
.nuestros-servicios {
    padding-top: 100px;  padding-bottom: 100px;
    background:
    url(../images/TRACE-EXPRESS-background-inferior-azul-oscuro.jpg) no-repeat;
}

/* Estilos de letra */
.font-extrabold {
    font-style: italic;
    font-weight: 800;
    letter-spacing: -5px;
}
.font-semibold {
    font-style: italic;
    font-weight: 600;
}
.font-light {
    font-style: italic;
    font-weight: 300;
    /*letter-spacing: -2px;*/
}
.bold {
    font-weight: 700;
    /*letter-spacing: -2px;*/
}
.azul-oscuro {
    color: #002D58;
}
.white {
    color: #FFF;
}

/* Header */
header {
    padding-top: 20px;
}
#envia-con-trace { min-height: 85vh; }
.iconos {
    display: inline-block;
    color: #FFA500;
    background: #FFF;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    transition: all ease 0.7s
    
}
.iconos:hover {
    color: #FFA500;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    padding-top: 10px
}
/* Fin Header */

/* Main */
.head-left {
    padding: 30px 0 0 55px;
}
.titulo1 { font-size: 85px; display: block; }
.titulo2 { font-size: 70px; display: block; margin-top: -20px;}
.titulo3 { font-size: 48px; letter-spacing: -3px; }
.titulo4 { font-size: 48px; letter-spacing: -2px; }
.texto1 { font-size: 27px; color: #FFF; text-transform: uppercase; font-style: italic; letter-spacing: -1px }
.img-cabecera {
    display: inline-block;
    border-radius: 50%;
    height: 120px;
    padding: 10px;
    width: 120px;
    text-align: center;
    background: #FFF;
    line-height: 98px;
    margin-right: 50px;
    transition: all ease 0.7s
}
.img-cabecera:hover {
    color: #FFA500;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}
.derecha {
    margin: 0;
}

.btn-primary {
    padding: 15px 35px;
    border-radius: 30px;
    color: white;
    margin-top: 60px;
}

.imagen-central-superior {
    border-radius: 50%;
    width: 400px;
}
.caja-titulo3 {
    text-align: end;
    margin-top: 85px;
}
.caja-titulo4 { margin-top: 70px; }
.division {
    margin: 15px 20px 15px auto;
    border: 1px solid #002D58;
    max-width: 315px;
}
.parrafos {
    margin: 0;
    font-size: 18px;
    letter-spacing: -1px;
}
.imagen-central-inferior {
    width: 500px;
    margin-left: -70px;
}
.division-parrafos {
    margin: 15px 0px 15px auto;
    border: 1px solid #FFF;
    max-width: 280px;
}
.img-empresas {
    text-align: center;
    padding-top: 35px;
}
.img-empresas img {
    width: 170px;
}
#empresas .titulo3 {
    text-align: center;
}
/* Fin Main */

/* Nuestros Servicios */
.titulo-servicios {
    background: url(../images/TRACE-EXPRESS-rectangulo-nuestros-servicios-inferior-izquierdo.jpg) no-repeat;
    font-size: 72px;
    padding: 0 115px;
    line-height: inherit;
}
.lista {
    margin-left: 100px;
}
.lista-servicios {
    list-style: none;
    list-style-image: url(../images/TRACE-EXPRESS-esferas-texto-listado-inferior.png);
    margin: 30px 20px 0 0;
}
.elemento-lista {
    font-size: 25px;
    letter-spacing: -1px;
    font-weight: 700;
    font-style: italic;
}
.margin { margin-right: 40px; }
.m30 { margin-right: -30px; }
.m25 { margin-right: -25px; }
.m10 { margin-right: -10px; }
.imagen-inferior { 
    margin: -80px 0 0 -10px;
    width: 400px;
}
.icony { background: #FF8800; border-radius: 40px; padding: 10px; margin-bottom: 10px}
/* Fin Nuestros Servicios */

/* Contacto */
.contacto {
    text-align: center;
    padding-top: 120px
}
#contacto a i.icony { color:#FFF; }
a:link { text-decoration: none }
#contacto {  background: url(../images/TRACE-EXPRESS-background-bottom.jpg) 
    no-repeat;
    background-size: cover;
    background-position: center bottom;
 }
.titulo-contacto {
    font-size: 64px;
}
.contacto p {
    font-size: 24px;
}
.icono {
    color: #FFF;
    background: #ff8800;
    padding: 4px;
    font-size: 16px;
    border-radius: 50%;
}
.titulo2-contacto { font-size: 36px; letter-spacing: -2px; }
.iconos-redes {
    display: inline-block;
    color: #FFF;
    background: #ff8800;
    padding: 5px;
    border-radius: 50%;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
}
.envios-maritimos {
    position: absolute;
    right: 0;
    height: 550px;
}
.envios-aereos {
    position: absolute;
    left: 0;
    margin-top: 365px;
}
.bottom-space { margin-bottom: 70px; padding-bottom: 70px }
.bottom-space100 { padding-bottom:100px }
/* Fin Contacto */


/*Creditos BESIGN */
#besign-footer {
    background: #595959;
    width: 100%;
    float: left;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
#cliente {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #999;
    width: 60%;
    padding: 2px 5px 2px 25px;
    float: left;
}

#besign {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #CCC;
    padding: 2px 25px 2px 5px;
    width: 30%;
    text-align: right;
    float: right;
}

#besign a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-decoration: none;
    font-weight: bold;
    color: #FC0;
}
/*Creditos BESIGN */



 
 @media (min-width:1440px){   
     #envia-con-trace { min-height: 100vh; }
  }
 @media (max-width:1280px){   
  }
@media (max-width:1024px){
    .titulo1 { font-size: 65px }   
    .titulo2 { font-size: 60px } 
    .titulo3 { font-size: 43px; }
    .texto1  { font-size: 20px; } 
    .img-cabecera { margin-right: 30px; max-width: 110px; max-height: 110px; padding: 5px; }
    .img-cabecera img { border-radius: 8px; }
    .elemento-lista { font-size: 23px }
}
@media (max-width:960px){   
}
 @media (max-width:800px){ 
    .elemento-lista { font-size: 18px }
    .titulo1 { font-size: 68px; }
    .titulo2 { font-size: 57px; }
    .texto1 { font-size: 23px; }
    .main {
        text-align: center;
    }
    .img-cabecera {
        margin-right: 10px;
    }  
    .titulo-servicios { 
    font-size: 59px; }
    .lista { margin-left: 60px }

  }
 @media (max-width:768px){   
    .titulo1, .titulo2 {        font-size: 50px;
    }
    .img-cabecera { max-width: 90px; max-height: 90px; 
    line-height: 68px;  padding: 10px; }
    .img-cabecera img { max-width: 90% }
    .titulo3 {     font-size: 40px; }
    .iconos { width: 35px; height: 35px; line-height: 25px; padding: 5px; font-size: 20px; }
    #que-hacemos .head-left { padding-left: 0; }
    .imagen-central-inferior { margin-left: -50px; }
    .titulo4 { font-size: 35px; }
    .parrafos { font-size: 16px; }
    .contacto p {font-size: 23px; }
    #divisor-empresas { display: none; }
 }
 @media (max-width:640px){   
  }
 @media (max-width:600px){   
  }
 @media (max-width:475px){   
    .logoo { margin-bottom: 50px }
    .texto1 { color: #F1592B; 
    font-size: 19px; }
    .head-left { padding-left: 15px; text-align: center; }
    .btn { margin-bottom: 30px }
    .imagen-central-inferior { margin-left: initial;  }
    .titulo-servicios { padding: 0 65px; font-size: 30px; letter-spacing: -2px; }
    .contacto p { font-size: 19px }
    .bottom-image { background-position-y: bottom; }
    .img-empresas img { width: 100%; }
  }
 @media (max-width:425px){   
  }
 @media (max-width:375px){   
     .titulo-contacto { font-size: 60px; }
     .titulo3 { font-size: 38px; }
     .parrafos { padding: 0 5px; }
     .titulo-servicios { font-size: 25px; }
  }
 @media (max-width:325px){   
     .titulo-servicios { font-size: 21px; }
     .titulo-contacto { font-size: 54px; }
     .titulo3 { font-size: 34px; }
     .contacto p { font-size: 15px; }
     .titulo2-contacto { font-size: 28px; }
     #besign { width: 35%; }
     .titulo1, .titulo2 { font-size: 40px; letter-spacing: -4px; padding-bottom: 5px; }
     .texto1 { font-size: 16px; }
     .logoo { margin: 0 0 50px -30px; }
  }
 @media (max-width:240px){   
  }

